<div class="row justify-content-center">
    <div class="col-8">
        <h2>Politique de confidentialité de NumAndDrive</h2>
        <h3>Introduction</h3>
        <p>
            Bienvenue sur NumandDrive! Nous prenons la confidentialité de vos données très au sérieux. Cette politique de confidentialité explique quelles informations nous collectons, comment nous les utilisons, les partageons, et les protégeons. En utilisant notre application de covoiturage, vous acceptez les pratiques décrites dans cette politique.
        </p>
        <h3>Information que nous collectons :</h3>
        <h4>Informations personnelles</h4>
        <p>Nous collectons des informations personnelles vous concernant lorsque vous utilisez notre application, notamment :</p>
        <ul>
            <li>Nom et prénom</li>
            <li>Adresse e-mail</li>
            <li>Numéro de téléphone</li>
            <li>Modèle et marque de voiture</li>
            <li>Type de carburant utilisé par votre voiture</li>
            <li>Statut au sein de l'établissement</li>
        </ul>
        <h4>Informations de localisation</h4>
        <p>Pour vous fournir nos services de covoiturage, nous collectons des informations de localisation, y compris :</p>
        <ul>
            <li>Adresses des conducteurs</li>
            <li>Adresses des passagers</li>
            <li>Distance parcourue en kilomètre par les utilisateurs</li>
        </ul>
        <h3>Utilisation des informations</h3>
        <h4>Fournir et améliorer nos services</h4>
        <p>Nous utilisons vos informations pour :</p>
        <ul>
            <li>Vous connecter avec des conducteurs ou des passagers</li>
            <li>Fournir un support client</li>
            <li>Améliorer notre applications et nos services</li>
        </ul>
        <h4>Communications</h4>
        <p>Nous pouvons utiliser vos informations de contact pour :</p>
        <ul>
            <li>Vous envoyer des notifications importantes concernant votre compte ou nos services</li>
            <li>Vous informer sur les mises à jour de l'application</li>
        </ul>
        <h4>Securité et conformité</h4>
        <p>Nous utilisons vos informations pour :</p>
        <ul>
            <li>Protéger la sécurité de nos utilisateurs et de nos services</li>
            <li>Se conformer aux obligations légales et réglementaires</li>
        </ul>
        <h3>Partage des informations</h3>
        <h4>Avec des partenaires de confiance</h4>
        <p>Nous pouvons partager vos informations avec des tiers de confiance qui nous aident à fournir, améliorer, et promouvoir nos services. Ces partenaires sont soumis à des obligations de confidentialité strictes.</p>
        <h4>Obligations légales</h4>
        <p>Nous pouvons divulguer vos informations si nous croyons de bonne foi que cette divulgation est nécessaire pour :</p>
        <ul>
            <li>Se conformer à la loi</li>
            <li>Protéger nos droits, votre sécurité, ou celle d'autrui</li>
        </ul>
        <h3>Sécurité de Vos Informations</h3>
        <p>Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations contre l'accès non autorisé, la divulgation, l'altération ou la destruction. Cependant, aucun système de sécurité n'est impénétrable, et nous ne pouvons garantir la sécurité absolue de vos informations.</p>
        <h3>Vos Droits</h3>
        <h4>Accès et correction</h4>
        <p>Vous avez le droit d'accéder aux informations personnelles que nous détenons à votre sujet et de demander la correction de toute information inexacte.</p>
        <h4>Suppression</h4>
        <p>Vous pouvez également demander la suppression de vos informations personnelles, sous réserve de certaines exceptions légales.</p>
        <p>Si vous supprimez vos données, celle ci resteront archivées et anonymiser dans notre base de données</p>
        <h3>Modifications de cette politique</h3>
        <p>Nous pouvons mettre à jour cette politique de confidentialité de temps à autre. Nous vous informerons de toute modification substantielle par le biais de notre application ou par d'autres moyens appropriés. Votre utilisation continue de notre application après l'entrée en vigueur de ces modifications constituera votre acceptation de la politique mise à jour.</p>
        <h3>Contact</h3>
        <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez nous contacter à l'adresse suivante :</p>
        <ul>
            <li>E-mail : support@numanddrive.com</li>
        </ul>
        <p>
            Merci d'utiliser NumAndDrive!Nous nous engageons à protéger votre vie privée tout en vous offrant un service de covoiturage de qualité.
        </p>
    </div>
</div>
