
<div class="container">
    <div class="row gap-1 d-flex justify-content-center align-items-center">
        <div class="col-5 vh-60 border border-dark">

        </div>
        <div class="col-5 vh-60 border border-dark">

        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center mt-5">
        <div class="col-6">
            <a asp-controller="Journey" asp-action="Add" class="btn text-custom-color-blue custom-bottom-shadow fs-1 border border-dark">Ajouter une nouvelle annonce</a>
        </div>
    </div>
</div>