
<div class="container">
    <a asp-controller="User" asp-action="Index" class="col-1">
        <img src="/img/exit-icon.png" alt="Retour" class="custom-top-left-position vh-5"/>
    </a>
    <div class="row vh-75">
        <div class="col-4 border rounded-start border-dark border-end-0 custom-bottom-shadow">
            <div class="row h-33 d-flex text-center align-items-center border-bottom border-dark px-4">
                <div class="col-11">
                    <p class="fs-4 m-0">Réglages de l'application</p>
                </div>
                <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FE5F28" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>
                </div>
            </div>
            <div class="row h-33 d-flex text-center align-items-center border-bottom border-dark px-4">
                <div class="col-11">
                    <p class="fs-4 m-0">Mes informations</p>
                </div>
                <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FE5F28" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>
                </div>
            </div>
            <div class="row h-33 d-flex text-center align-items-center px-4">
                <div class="col-11">
                    <p class="fs-4 m-0">Notifications</p>
                </div>
                <div class="col-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FE5F28" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-8 border rounded-end border-dark custom-bottom-shadow">
            <partial name="_Settings"></partial>
            <div class="h-100 d-flex justify-content-end align-items-end">
                <a asp-controller="User" asp-action="Index" class="col-1">
                    @*Link is not the correct one*@
                    <img src="/img/validate-icon.png" alt="Retour" class="vh-5 mb-3" />
                </a>
            </div>
        </div>
    </div>
</div>