@{
    Layout = null;
}

@model NumAndDrive.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Num&Drive</title>
    <link rel="icon" href="../favicon.png"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div class="row overflow-hidden">
        <div class="vh-100 col-5 d-flex justify-content-end align-items-center">
            <img src="/img/logo-detailed.png" alt="Logo de l'application" />

        </div>

        <div class="col-1 vh-100 d-flex align-items-center justify-content-end">
            <div class="vh-75 border-end border-dark border-2"></div>
        </div>

        <div class="vh-100 col-6 d-flex justify-content-center align-items-center">
            <div class="col-6">
                <div class="col rounded-top border border-dark text-custom-color-orange text-uppercase text-center fs-1 fw-bold custom-color-blue p-3">
                    <p class="m-0">Portail de connexion</p>
                </div>

                <div class="col rounded-bottom border border-top-0 border-dark px-4 py-2">
                    <form asp-controller="account" asp-action="login">
                        <div class="text-custom-color-orange" asp-validation-summary="ModelOnly"></div>
                        <div class="row">
                            <div class="col">
                                <label asp-for="Email" class="col-form-label fs-4 fw-lighter">Adresse mail :</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input asp-for="Email" class="custom-focus bg-white border border-dark rounded-0 custom-inner-shadow p-2 col-12" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="text-custom-color-orange" asp-validation-for="Email"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label asp-for="Password" class="col-form-label fs-4 fw-lighter">Mot de passe :</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input asp-for="Password" class="custom-focus bg-white border border-dark rounded-0 custom-inner-shadow p-2 col-12" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="text-custom-color-orange" asp-validation-for="Password"></span>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-1">
                                <input asp-for="RememberMe" class="form-check-input border-dark" />
                            </div>
                            <div class="col-11">
                                <label asp-for="RememberMe" class="form-check-label">Se souvenir de moi ?</label>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-end">
                            <div class="col-2">
                                <input type="submit" class="btn custom-color-blue text-custom-color-orange custom-bottom-shadow fw-bold custom-bottom-shadow fs-4" value="OK" />
                            </div>
                        </div>
                    </form>

                    <div class="mb-3">
                        <a href="" class="text-black">Mot de passe oublié</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>