@using NumAndDrive.ViewModels
@model UploadUsersViewModel

<form method="post" asp-controller="Admin" asp-action="UploadUsersFromCSVFile" enctype="multipart/form-data">
    <div class="text-custom-color-orange" asp-validation-summary="All"></div>
    <div class="mb-3 row">
        <div class="col-5">
            <input type="file" asp-for="File" class="form-control" accept=".csv" />
        </div>
        <div class="col">
            <span class="text-custom-color-orange" asp-validation-for="File"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <input type="submit" class="btn custom-color-orange text-white custom-bottom-shadow col-4 m-3" value="Ajouter ces utilisateurs" />
    </div>
</form>