@using NumAndDrive.ViewModels;
@model UserViewModel

<a asp-controller="admin" asp-action="getUsers" class="btn custom-color-orange text-white custom-bottom-shadow">Retour</a>

<h2 class="m-5">Modifier un utilisateur</h2>

@{
    await Html.RenderPartialAsync("~/Views/Admin/_userForm.cshtml", Model);
}