@using NumAndDrive.ViewModels;
@model SearchUserViewModel

<a asp-controller="admin" asp-action="GetUsers" class="btn custom-color-orange text-white custom-bottom-shadow">Retour</a>

@{
    await Html.RenderPartialAsync("~/Views/Admin/_searchForm.cshtml");
}

<h2 class="m-5">@Model.Users.Count utilisateur(s) correspondant à la recherche : "@Model.Query"</h2>

@{
    await Html.RenderPartialAsync("~/Views/Admin/_usersTable.cshtml", Model.Users);
}
