@using NumAndDrive.ViewModels;
@model AdminViewModel

<div class="row">
    <div class="col-4">
        <div class="row d-flex justify-content-center">
            <img src="/img/logo-detailed.png" alt="Logo" class="col-8" />
        </div>
        <div class="row">
            <p class="p-0">@Model.NumberOfUsers utilisateurs</p>
        </div>
    </div>
    <div class="col-8">
        <div class="row border border-black rounded vh-75 d-flex align-items-center custom-bottom-shadow overflow-auto">
            <h2 class="m-4">Importer les utilisateurs</h2>
            <div class="col">
                <p><span class="text-decoration-underline">Important :</span> le fichier doit répondre à des standards précis, sinon les données ne seront pas validées par l'application. Veuillez vous assurer que vous allez envoyer :
                    <ul>
                        <li>Un fichier .csv</li>
                        <li>Avec des données valides</li>
                        <li>Qui comporte 4 colonnes qui reprennent respectivement le prénom, le nom, le mail et le numéro de téléphone</li>
                    </ul>
                </p>
            </div>
            <form method="post" asp-controller="admin" asp-action="UploadUsersFromCSVFile" enctype="multipart/form-data">
                <div class="text-custom-color-orange" asp-validation-summary="All"></div>
                <div class="mb-3 row">
                    <div class="col-5">
                        <input type="file" asp-for="File" class="form-control" accept=".csv" />
                    </div>
                    <div class="col">
                        <span class="text-custom-color-orange" asp-validation-for="File"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="m-3 p-0">
                        <input type="submit" class="col-4 btn custom-color-orange text-white custom-bottom-shadow" value="Ajouter ces utilisateurs" />
                        <a class="btn custom-color-orange text-white custom-bottom-shadow col-7 m-3" asp-controller="Admin" asp-action="DownloadCsv">Télécharger la liste des utilisateurs non créés</a>
                    </div>
                </div>
            </form>

            <hr />

            <h2 class="m-4">Liste des utilisateurs</h2>
            <a class="btn custom-color-orange text-white custom-bottom-shadow col-4 m-3" asp-controller="Admin" asp-action="getUsers">Afficher la liste des utilisateurs</a>

            <hr />

            <h2 class="m-4">Ajouter un utilisateur</h2>
            <a class="btn custom-color-orange text-white custom-bottom-shadow col-4 m-3" asp-controller="Admin" asp-action="createSingleUser">Créer</a>
        </div>

        
    </div>
</div>

