<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="Views/Error/PageNotFound" responseMode="ExecuteURL" />
      <remove statusCode="403" />
      <error statusCode="403" path="Views/Error/AccessDenied" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>

